@import url('base.css');
header{
    width:100%;
    height: 107px;
    background: #1d1825;
    margin-bottom: 50px;
}
.name{
    width: 218px;
    height:100%;
    font-size: 38px;
    text-align: center;
    line-height: 107px;
    color:#fff;
    margin-left: 86px;
    float: left;

}
.daohang{
    width:600px;
    height:23px;
    float: left;
    margin-left: 100px;
    margin-top: 41px;
}
.daohang>li{
    width: 80px;
    height:23px;
    float: left;
    margin-right: 18px;
    /*font-size: 16px;*/
    line-height:16px;
    color:#fff;
    position: relative;
    text-align: center;
}
.daohang li a{
    color: #fff;
    font-size: 16px;
    transition: all 0.5s;
    text-align: center;
}
.hengxian{
    width: 80px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.hengxian2{
    width: 70px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
/*.daohang>li:last-child{*/
/*margin-right: 0;*/
/*}*/
.iconbox{
    width:110px;
    height:18px;
    margin-top:42px;
    margin-right:86px;
    float: right;
}
.iconbox li{
    color:#fff;
    float: left;
    margin-right: 28px;
    cursor:pointer;
}
.iconbox>li:last-child{
    margin-right: 0;
}
.iconbox>li:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
/*头部结束*/
/*联系我们开始*/
.lianxiwomen{
    width: 258px;
    height:50px;
    margin:0 auto;
    font-size: 26px;
    text-align: center;
}
.lianxi{
    width: 100%;
    height:373px;
    background:#e8e4e4;
    overflow: hidden;
    margin-bottom: 50px;
}
.lianxi-title{
    display: block;
    width: 206px;
    height: 30px;
    margin:78px auto;
    font-size: 18px;
    text-align: center;
    margin-bottom: 58px;
}
.neirong{
    width: 622px;
    height: 13px;
    font-size: 13px;
    display: block;
    margin:0 auto;
    margin-bottom:35px;
}
textarea{
    resize: none;
    width: 690px;
    height: 46px;
    display: block;
    margin:0 auto;
    padding:5px 5px;
}
/*联系我们结束*/
/*底部开始*/
footer{
    width: 100%;
    height:376px;
    background:#24202a;
    overflow: hidden;
}
.dibu{
    width:1140px;
    height: 224px;
    background:#24202a;
    margin:56px auto;
    border-bottom: 1px solid #57545b;
}
.dibu-left{
    width: 388px;
    height: 222px;
    background:#24202a;
    overflow: hidden;
    float: left;
}
.dibu-left-left{
    width: 168px;
    height: 30px;
    float:left;
    margin-right: 94px;
    font-size: 30px;
    color:#fff;
}
.dibu-icon{
    width: 126px;
    height: 30px;
    float: right;
    background:#24202a;

}
.dibu-icon .icon-facebookf{
    float: left;
    font-size: 20px;
    color:#fff;
    line-height: 40px;
    margin-right: 30px;
}
.dibu-icon .icon-tuite{
    float: left;
    font-size: 20px;
    color:#fff;
    line-height: 40px;
    margin-right: 30px;

}
.dibu-icon .icon-leaf{
    float: left;
    font-size: 20px;
    color:#fff;
    line-height: 40px;
}
.icon-facebookf:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.icon-tuite:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.icon-leaf:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.dibuwenzi{
    display: block;
    width: 387px;
    height: 71px;
    font-size: 14px;
    color: #fff;
    margin-top: 64px;
    text-align: center;
    line-height: 22px;
}
.dibu-right{
    width: 650px;
    height: 222px;
    background:#24202a;
    float: right;
}
.db1{
    width: 150px;
    height: 222px;
    float: left;
    margin-left: 12px;
    margin-right: 134px;
}
.dibu-right-title1{
    width: 164px;
    height: 30px;
    font-size: 26px;
    margin-bottom: 16px;
    color: #12c3c6;
}
.db1 dd{
    width: 150px;
    height: 11px;
    margin-bottom: 14px;
}
.db1 dd a{
    color: #fff;

}
.db2{
    width: 150px;
    height: 222px;
    float: left;
}
.dibu-right-title2{
    width: 199px;
    height: 30px;
    font-size: 26px;
    margin-bottom: 16px;
    color: #12c3c6;
    margin-left: 12px;
    margin-right: 134px;
}
.db2 dd{
    width: 222px;
    height: 11px;
    margin-bottom: 19px;
    margin-left: 12px;
    margin-right: 134px;
    color: #fff;
}
.dibu-bottom{
    display: block;
    width: 494px;
    height: 14px;
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    margin: 0 auto;
}
/*底部结束*/